<div class="bar">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
        <a routerLink="/admin" [routerLinkActive]="'active'"
            class="d-flex align-items-center justify-content-center mb-3
             mb-md-0 me-md-auto text-white text-decoration-none text-capitalize">
            <span class="fs-5 text-center">{{title}}</span>
        </a>
        <hr>

        <ul class="nav nav-pills flex-column mb-auto text-capitalize">
            @for (item of sidebarLinks; track $index) {
            <li class="nav-item mt-2 ms-2 fs-6">
                <a [routerLink]="item.path" [attr.routerLinkActive]=" $index == 0? 'active' : null "
                    [attr.routerLinkActiveOptions]="$index == 0? {exact:true}:null" class="nav-link text-white fw-medium"
                    aria-current="page">
                    <i class="{{item.icon}} fs-5 me-1"></i>
                    {{item.title}}
                </a>
            </li>
            }
        </ul>

    </div>
</div>